<div *ngIf="isLoggedIn()">
    <button (click)="addDog()" class="btn btn-info">Add Dog</button>
    <button (click)="addMonkey()" class="btn btn-info">Add Monkey</button>
</div>
<div class="row">
    <div class="animalTable">
        <table>
            <tr>
				<th>Name</th>
                <th>Animal Type</th>
				<th>Training Status</th>
				<th>Reserved</th>
                <th *ngIf="isLoggedIn()">Edit</th>
			</tr>
			<tr *ngFor="let dog of dogs">
				<td>{{ dog.name }}</td>
                <td>{{ dog.animalType }}</td>
				<td>{{ dog.trainingStatus }}</td>
				<td>{{ dog.reserved }}</td>
                <td *ngIf="isLoggedIn()">
                    <button (click)="editDog(dog)" class="btn btn-info">Edit Dog</button>
                </td>
			</tr>
            <tr *ngFor="let monkey of monkeys">
				<td>{{ monkey.name }}</td>
                <td>{{ monkey.animalType }}</td>
				<td>{{ monkey.trainingStatus }}</td>
				<td>{{ monkey.reserved }}</td>
                <td *ngIf="isLoggedIn()">
                    <button (click)="editMonkey(monkey)" class="btn btn-info">Edit Monkey</button>
                </td>
			</tr>
        </table>
    </div>
</div>